.finish-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 575.98px) {
  .finish-game img {
    width: 100%;
  }

  .finish-game h1 {
    font-size: 2rem;
  }
}